.tab-row{
  text-align: center;
  padding: 0px 10px 0px 10px;

  .column{
    padding: 0px;
  }

  a.tab-link{
    cursor: pointer;
    color: $primary-color;
    height: 5rem;
    display: block;
    padding: 1rem;
    font-weight: 500;
    border-bottom: 1px solid $primary-border-color;
    background-color: $drawer-background-color;

    &.active{
      background-color: $primary-background-color;
      border-bottom: none;
      border-right: 1px solid $primary-border-color;
      border-left: 1px solid $primary-border-color;
      border-top: 1px solid $primary-border-color;
    }

    &:hover{
      color: $primary-color-light;
    }
  }
}

.tab-content{
  background-color: $primary-background-color;
  height: 100%;
  border-right: 1px solid $primary-border-color;
  border-left: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;
}
