$primary-background-color: rgb(48,53,65);
$primary-color: rgb(188,199,210);
$primary-border-color: rgb(62, 68, 81);

$secondary-background-color: rgb(62,68,81);
$secondary-color: rgb(164,169,177);

$drawer-background-color: rgb(40, 48, 52);
$drawer-color: rgb(166, 171, 179);
$drawer-highlight-color: white;


$primary-color-light: #888;
$sidenav-color: #ccc;
$accent-color: #f5f5f5;
$inverse-primary-color: #ddd;
$inverse-primary-color-dark: #aaa;
$emph-color: #9b4dca;
